.button {
    -fx-background-color: #696969;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #555555;
    -fx-underline: true;
}

.button:pressed {
    -fx-background-color: #555555;
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}

#btn {
    -fx-background-color: #6282ff;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-family: "Arial";
    -fx-cursor: hand;
}

#btn:hover {
    -fx-background-color: #4167ff;
    -fx-underline: false;
}

#btn:pressed {
    -fx-background-color: #7aa2ff;
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}

#buttonAddStudent {
    -fx-background-color: green;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
}

#buttonAddStudent:hover {
    -fx-background-color: darkgreen;
}

#buttonaddaluno:pressed {
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}

#buttonAddStudent:pressed {
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}

#buttonRemoveStudent1 {
    -fx-background-color: #34701c;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
}

#buttonRemoveStudent {
    -fx-background-color: #dd2828;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
}

#addaluno1 {
    -fx-background-color: green;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
}

#btcancelar {
    -fx-background-color: #ec7212;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
}

#btsalvar {
    -fx-background-color: #2f89a5;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
}

#buttonEditStudent {
    -fx-background-color: #ec7212;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
}

#buttonImportStudent {
    -fx-background-color: #3e3c3c;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
}

#buttonBuscarStudent {
    -fx-background-color: #2fa5a5;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
}

#buttonaddaluno {
    -fx-background-color: #008000;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
}

#buttonRemoveStudent:hover {
    -fx-background-color: red;
}

#btsalvar {
    -fx-background-color: #008000;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
}

#saveBtnNew {
    -fx-background-color: #008000;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
}

#cancelBtnNew {
    -fx-background-color: #dd2828;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
}

#saveBtn {
    -fx-background-color: #008000;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";

}

#cancelBtn {
    -fx-background-color: #dd2828;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
}

#viewStudent {
    -fx-background-color: #e7e7e7;
    -fx-border-color: #e5dfdf;
    -fx-border-width: 1px
}

#viewStudent .table-cell {
    -fx-font-family: Arial;
    -fx-font-size: 14px;
}

#viewStudent .table-column {
    -fx-alignment: center;
}

#viewStudent .table-row-cell:hover {
    -fx-background-color: #bbbbbb;
}

#viewStudent .table-row-cell:selected {
    -fx-background-color: #829ebd;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#viewStudent .column-header {
    -fx-background-color: #bebfc5;
    -fx-font-weight: bold;
    -fx-border-color: #aaaaaa;
    -fx-font-size: 14px;
    -fx-font-family: Arial;
}

#refresh {
    -fx-background-image: url("images/database.png");
    -fx-background-size: cover;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    width: 50px;
    height: 50px;
}

#instruction {
    -fx-background-image: url("images/manual.png");
    -fx-background-size: cover;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    width: 50px;
    height: 50px;
}

#exit {
    -fx-background-image: url("images/sair.png");
    -fx-background-size: cover;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    width: 50px;
    height: 50px;
}

#btnsair {
    -fx-background-image: url("images/sair.png");
    -fx-background-size: cover;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    width: 50px;
    height: 50px;
}

#btnconfig {
    -fx-background-image: url("images/User.png");
    -fx-background-size: cover;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    width: 50px;
    height: 50px;
}

#btnConfig {
    -fx-background-image: url("images/User.png");
    -fx-background-size: cover;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    width: 50px;
    height: 50px;
}

#alphaCode {
    -fx-background-image: url("images/alphacodeLogo.jpg");
    -fx-background-size: cover;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    width: 50px;
    height: 50px;
}

#buttonCleanFilter {
    -fx-background-color: #dd2828;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
}

#criterios {
    -fx-background-color: #e7e7e7;
    -fx-border-color: #e5dfdf;
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
}

#criterios .list-cell {
    -fx-alignment: center;
    -fx-text-alignment: center;
}

#criterios .list-cell:hover {
    -fx-background-color: #bbbbbb;
}

#criterios .list-cell:selected {
    -fx-background-color: #829ebd;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#btnAddC {
    -fx-background-color: #008000;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
}

#btnDeleteC {
    -fx-background-color: #dd2828;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
}

#tableStudents {
    -fx-background-color: #e7e7e7;
    -fx-border-color: #e5dfdf;
    -fx-border-width: 1px;
}

#tableStudents .table-cell {
    -fx-font-family: Arial;
    -fx-font-size: 14px;
}

#tableStudents .table-column {
    -fx-alignment: center;
}

#tableStudents .table-row-cell:hover {
    -fx-background-color: #bbbbbb;
}

#tableStudents .table-row-cell:selected {
    -fx-background-color: #829ebd;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#tableStudents .column-header {
    -fx-background-color: #bebfc5;
    -fx-font-weight: bold;
    -fx-border-color: #aaaaaa;
    -fx-font-size: 14px;
    -fx-font-family: Arial;
}

#tableSprint {
    -fx-background-color: #e7e7e7;
    -fx-border-color: #e5dfdf;
    -fx-border-width: 1px;
}

#tableSprint .table-cell {
    -fx-font-family: Arial;
    -fx-font-size: 14px;
}

#tableSprint .table-column {
    -fx-alignment: center;
}

#tableSprint .table-row-cell:hover {
    -fx-background-color: #bbbbbb;
}

#tableSprint .table-row-cell:selected {
    -fx-background-color: #829ebd;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#tableSprint .column-header {
    -fx-background-color: #bebfc5;
    -fx-font-weight: bold;
    -fx-border-color: #aaaaaa;
    -fx-font-size: 14px;
    -fx-font-family: Arial;
}

#btnAdicionarS {
    -fx-background-color: #008000;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
}

#btnEditar {
    -fx-background-color: #ec7212;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";

}

#btnRemoverS {
    -fx-background-color: #dd2828;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
}

#btnStartSprint {
    -fx-background-color: #2fa5a5;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
}

#btnEncerrarSprint {
    -fx-background-color: #dd2828;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
}

#telagrupos {
    -fx-background-color: #e7e7e7;
    -fx-border-color: #e5dfdf;
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
}

#telagrupos .list-cell {
    -fx-alignment: center;
    -fx-text-alignment: center;
}

#telagrupos .list-cell:hover {
    -fx-background-color: #bbbbbb;
}

#telagrupos .list-cell:selected {
    -fx-background-color: #829ebd;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#tableGrupoSelecionado {
    -fx-background-color: #e7e7e7;
    -fx-border-color: #e5dfdf;
    -fx-border-width: 1px;
}

#tableGrupoSelecionado .table-cell {
    -fx-font-family: Arial;
    -fx-font-size: 14px;
}

#tableGrupoSelecionado .table-column {
    -fx-alignment: center;
}

#tableGrupoSelecionado .table-row-cell:hover {
    -fx-background-color: #bbbbbb;
}

#tableGrupoSelecionado .table-row-cell:selected {
    -fx-background-color: #829ebd;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#tableGrupoSelecionado .column-header {
    -fx-background-color: #bebfc5;
    -fx-font-weight: bold;
    -fx-border-color: #aaaaaa;
    -fx-font-size: 14px;
    -fx-font-family: Arial;
}

#viewSprintH {
    -fx-background-color: #e7e7e7;
    -fx-border-color: #e5dfdf;
    -fx-border-width: 1px;
}

#viewSprintH .table-cell {
    -fx-font-family: Arial;
    -fx-font-size: 14px;
}

#viewSprintH .table-column {
    -fx-alignment: center;
}

#viewSprintH .table-row-cell:hover {
    -fx-background-color: #bbbbbb;
}

#viewSprintH .table-row-cell:selected {
    -fx-background-color: #829ebd;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#viewSprintH .column-header {
    -fx-background-color: #bebfc5;
    -fx-font-weight: bold;
    -fx-border-color: #aaaaaa;
    -fx-font-size: 14px;
    -fx-font-family: Arial;
}

.checkbox {
    -fx-font-size: 14px;
    -fx-text-fill: #333;
}

#SprintChoice {
    -fx-font-size: 16px;
    -fx-text-fill: black;
    -fx-font-family: "Arial";
}


#SprintChoice .checkbox.box {
    -fx-background-color: #FFFFFF;
    -fx-pref-width: 50px;
    -fx-pref-height: 50px;
}

.checkbox:selected .box {
    -fx-background-color: #829ebd;
}

.checkbox:selected {
    -fx-text-fill: white; /* Cor do texto quando selecionado */
}

#tableResults {
    -fx-background-color: #e7e7e7;
    -fx-border-color: #e5dfdf;
    -fx-border-width: 1px;
}

#tableResults .table-cell {
    -fx-font-family: Arial;
    -fx-font-size: 14px;
}

#tableResults .table-column {
    -fx-alignment: center;
}

#tableResults .table-row-cell:hover {
    -fx-background-color: #bbbbbb;
}

#tableResults .table-row-cell:selected {
    -fx-background-color: #829ebd;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#tableResults .column-header {
    -fx-background-color: #bebfc5;
    -fx-font-weight: bold;
    -fx-border-color: #aaaaaa;
    -fx-font-size: 14px;
    -fx-font-family: Arial;
}

#confirmarSenha {
    -fx-background-color: transparent;
    -fx-border-color: #696969;
    -fx-border-width: 0px 0px 2px 0px;
}

#nvSenha {
    -fx-background-color: transparent;
    -fx-border-color: #696969;
    -fx-border-width: 0px 0px 2px 0px;
}

#nvSenha1 {
    -fx-background-color: transparent;
    -fx-border-color: #696969;
    -fx-border-width: 0px 0px 2px 0px;
}

#exitPass{    -fx-background-color: #dd2828;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";

}


#viewAlunosH {
    -fx-background-color: #e7e7e7;
    -fx-border-color: #e5dfdf;
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
}

#viewAlunosH .list-cell {
    -fx-alignment: center;
    -fx-text-alignment: center;
}

#viewAlunosH .list-cell:hover {
    -fx-background-color: #bbbbbb;
}

#viewAlunosH .list-cell:selected {
    -fx-background-color: #829ebd;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#viewCriteriosH {
    -fx-background-color: #e7e7e7;
    -fx-border-color: #e5dfdf;
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
}

#viewCriteriosH .list-cell {
    -fx-alignment: center;
    -fx-text-alignment: center;
}

#viewCriteriosH .list-cell:hover {
    -fx-background-color: #bbbbbb;
}

#viewCriteriosH .list-cell:selected {
    -fx-background-color: #829ebd;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#viewGrupoH {
    -fx-background-color: #e7e7e7;
    -fx-border-color: #e5dfdf;
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
}

#viewGrupoH .list-cell {
    -fx-alignment: center;
    -fx-text-alignment: center;
}

#viewGrupoH .list-cell:hover {
    -fx-background-color: #bbbbbb;
}

#viewGrupoH .list-cell:selected {
    -fx-background-color: #829ebd;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#tableSprints {
    -fx-background-color: #e7e7e7;
    -fx-border-color: #e5dfdf;
    -fx-border-width: 1px;
}

#tableSprints .table-cell {
    -fx-font-family: Arial;
    -fx-font-size: 14px;
}

#tableSprints .table-column {
    -fx-alignment: center;
}

#tableSprints .table-row-cell:hover {
    -fx-background-color: #bbbbbb;
}

#tableSprints .table-row-cell:selected {
    -fx-background-color: #829ebd;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#tableSprints .column-header {
    -fx-background-color: #bebfc5;
    -fx-font-weight: bold;
    -fx-border-color: #aaaaaa;
    -fx-font-size: 14px;
    -fx-font-family: Arial;
}


#gerarrelatoriogrupo {
    -fx-background-color: #008000;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
}

#gerarrelatorioaluno {
    -fx-background-color: #008000;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
}


